<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<header>
    <!-- <h2 class="logo">Concert Connect</h2> -->
    <img src="{{ url_for('static', filename='logo.png') }}" alt="ConcertConnect Logo" style="height: 220px; padding-bottom: 60px; ">
</header>
<body>
    <div class="wrapper">
        <div class="form-box register">
            <div class="back-home">
                
            </div>            
            <h2  style="color: rgb(238, 244, 169); font-family: 'Montserrat'; text-shadow: 0 0 10px rgba(195, 212, 102, 0.7), 0 0 20px rgba(238, 255, 139, 0.5), 0 0 30px rgba(238, 255, 139, 0.4);">Register</h2>
            {% if error %}
                <p class="error-message">{{ error }}</p>  <!-- Display error message -->
            {% endif %}
            <form action="/register" method="POST">
                <div class="input-box">
                    <span class="icon" style="color: rgb(225, 173, 231);">
                        <ion-icon name="person"></ion-icon>
                    </span>
                    <input type="text" name="new_username" required>
                    <label>Username</label>
                </div>
                <div class="input-box">
                    <span class="icon"style="color: rgb(225, 173, 231);">
                        <ion-icon name="mail"></ion-icon>
                    </span>
                    <input type="email" name="new_email" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon" style="color: rgb(225, 173, 231);">
                        <ion-icon name="lock-closed"></ion-icon>
                    </span>
                    <input type="password" name="new_password" required>
                    <label>Password</label>
                </div>
                <button type="submit" value="Submit" class="btn">Register</button>
                <div class="login-register">
                    <p>Already have an account? <a href="/login" class="login-link">Login</a></p>
                </div>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
